{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Welcome to my personal website</h1>

    <p class="text-center">
        My name is Adam, my group is B1 and I am a student in networking and telecommunications.
    </p>

    <div class="card">
        <h2 class="text-center">Learn more</h2>
        
        <div class="text-center">
            <a href="loisirs">
                <button type="button" class="btn btn-primary">Pour en savoir plus</button>
            </a>
        </div>
    </div>
</div>

<style>
    /* Container pour les cadres */
    .container-boostwatch {
        display: flex;
        gap: 60px;
        margin: 80px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card {
        background-color: white;
        padding: 50px;
        border-radius: 15px;
        margin-top: 30px;
    }
    
    /*photo de ma tête dans l'accueil*/
</style>
{% endblock %}