{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Welcome to my personal website</h1>

    <p class="text-center">
        My name is Adam, my group is B1 and I am a student in networking and telecommunications.
    </p>

    <div class="card">
        <img src="{{ asset('images/pour_home/mon_visage_anime.webp') }}" class="tete-adam" alt="tête_Adam">
        
        <h2 class="text-center">Learn more</h2>
        
        <div class="text-center">
            <a href="loisirs">
                <button type="button" class="btn btn-primary">Pour en savoir plus</button>
            </a>
        </div>

        <div class="social-links">
            <a href="https://www.instagram.com/a.d.m._.69?igsh=MTA5endvNzhnd3U2ZQ==" target="_blank">
                <img src="{{ asset('images/pour_home/logo_insta_gram.png') }}" alt="Instagram" class="reseau-sociaux">
            </a>
            
            <a href="https://github.com/AdamAbiderrahmane" target="_blank">
                <img src="{{ asset('images/pour_home/logo_github.jpg') }}" alt="GitHub" class="reseau-sociaux">
            </a>
            
            <a href="https://www.linkedin.com/public-profile/settings/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B8qkZF7DaTd25%2FqPeph2t8Q%3D%3D" target="_blank">
                <img src="{{ asset('images/pour_home/logo_linkedin.png') }}" alt="LinkedIn" class="reseau-sociaux">
            </a>
        </div>
    </div>
</div>

<style>
    .card {
        background-color: rgb(255, 255, 255);
        padding: 50px;
        border-radius: 15px;
        margin-top: 30px;
    }
    
    .tete-adam {
        width: 150px;
        height: 150px; 
        border-radius: 100%; 
        display: block; 
        margin: 0 auto 30px;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }
    
    .reseau-sociaux {
        width: 100px;
        height: 100px;
    }
</style>
{% endblock %}