{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<h1>Mon E-Portfolio de Compétences</h1>
<p>
    Voici une sélection de mes compétences accompagnées d’auto-évaluations
    et de preuves issues de mon parcours de formation.
</p>

<div class="mini-carte-Administrer">
    <h3>Compétence : Administrer</h3>
    <p>Auto-évaluation : 2/4</p>
    <p>Preuves : projets Cisco, TP VLAN, etc.</p>
</div>

<div class="mini carte Connecté">
    <h3>Compétence : Connecter</h3>
    <p>Auto-évaluation : 2/4</p>
    <p>Preuves : TP pare-feu, filtrages, etc.</p>
</div>

<div class="mini carte Programmer">
    <h3>Compétence : Programmer</h3>
    <p>Auto-évaluation : 3/4</p>
    <p>Preuves : ce site Symfony, projets HTML/CSS/JS…</p>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #FAFAD2;
        color: #ffffff;
    }

    nav a:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
</style>
{% endblock %}

