{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<h1>Mon E-Portfolio de Compétences</h1>
<p>
    Voici une sélection de mes compétences accompagnées d’auto-évaluations
    et de preuves issues de mon parcours de formation.
</p>

<div class="card mt-4 p-3">
    <h3>Compétence : Administration Réseau</h3>
    <p>Auto-évaluation : 2/4</p>
    <p>Preuves : projets Cisco, TP VLAN, etc.</p>
</div>

<div class="card mt-4 p-3">
    <h3>Compétence : Sécurité Informatique</h3>
    <p>Auto-évaluation : 2/4</p>
    <p>Preuves : TP pare-feu, filtrages, etc.</p>
</div>

<div class="card mt-4 p-3">
    <h3>Compétence : Développement Web</h3>
    <p>Auto-évaluation : 3/4</p>
    <p>Preuves : ce site Symfony, projets HTML/CSS/JS…</p>
</div>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/ADM69/ABIDERRAHMANE_Adam/src/Controller/PortfolioController.php</code></li>
        <li>Your template at <code>C:/Users/ADM69/ABIDERRAHMANE_Adam/templates/portfolio/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
