
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="formulaire-container">
    <form>
        <fieldset>
            <legend>Formulaire d'inscription</legend>
            
            <div>
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Entrez votre Nom...">
            </div>
            
            <div>
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" placeholder="Entrez votre Prénom...">
            </div>
            
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="XX@gmail.com">
            </div>
            
            <div>
                <label for="telephone" class="form-label">Téléphone</label>
                <input type="tel" class="form-control" id="telephone" placeholder="+ 33 XX XX XX XX">
            </div>
            
            <div>
                <label for="cv" class="form-label">CV (PDF ou DOCX)</label>
                <input class="form-control" type="file" id="cv" accept=".pdf,.docx">
            </div>
            
            <button type="submit" class="btn btn-primary">Envoyer l'inscription</button>
        </fieldset>
    </form>
</div>

<style>
    .formulaire-container {
        max-width: 700px;
        margin: 3em auto;
        padding: 20px;
    }
    
    fieldset {
        border: none;
    }
    
    legend {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
</style>

{% endblock %}
