{% extends 'base.html.twig' %}

{% block title %}Mes loisirs{% endblock %}

{% block body %}
<h1>Mes Loisirs</h1>
<p>Voici quelques photos représentant mes passions.</p>

<div class="photo">

    <div class="image">
        <img src="/images/loisir1.jpg" class="img-fluid rounded shadow">
        <p class="text-center mt-2">Loisir 1</p>
<style>
    .photo { 
        margin: 1em auto; 
        max-width: 800px; 
        width: 95%; 
        font: 18px/1.5 sans-serif; 
    }
    .image { 
        background: #F5F5F5; 
        padding: 2px 6px; 
    }

</style>
{% endblock %}
