{% extends 'base.html.twig' %}

{% block title %}Mes loisirs{% endblock %}

{% block body %}
<h1>Mes Loisirs</h1>
<p>Voici quelques photos représentant mes passions.</p>

<div class="row mt-4">

    <div class="col-md-4">
        <img src="/images/loisir1.jpg" class="img-fluid rounded shadow">
        <p class="text-center mt-2">Loisir 1</p>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/ADM69/ABIDERRAHMANE_Adam/src/Controller/LoisirsController.php</code></li>
        <li>Your template at <code>C:/Users/ADM69/ABIDERRAHMANE_Adam/templates/loisirs/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
